<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Vibify</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/styles/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="#">Vibify</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Explore</span> <i class="bi bi-chevron-down"></i>
              </a>
              <ul>
                </li>
                <li><a href="/music">Songs</a></li>
                <li><a href="/youtube">Youtube</a></li>
                <li><a href="/books">Books</a></li>
                 <li><a href="/movie">Movies</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="nav-link scrollto" href="./info.html">Contribute</a></li>
            <li>
              <a class="getstarted scrollto" href="#about">Get Started</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <h2>Capture, Groove, Predict: Vibify Your World!</h2>
            <h4>
              Let Vibify predict your perfect entertainment—transforming your
              world with a seamless symphony of experiences.
            </h4>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
              <a
                href="#upload-photo"
                class="glightbox btn-watch-video"
                ><i class="bi-solid bi-camera"></i><span>Capture Image</span></a
              >
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              style="height: 350px; width: 500px; border-radius: 10%"
              src="static/public/hero.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section
        id="about"
        class="about"
        style="display: flex; align-items: center; justify-content: center"
      >
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About Us</h2>
          </div>

          <div
            class="row content"
            style="display: flex; align-items: center; justify-content: center"
          >
            <div class="col-lg-8">
              <p>
                Welcome to Vibify, where innovation meets entertainment! Our
                website is your one-stop destination for a multi-sensory
                experience. Snap a picture, and let Vibify work its magic.
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> 📷 Capture: Take a photo,
                  and watch as our advanced algorithms analyze your image to
                  reveal your age, recommend movies, and even suggest songs that
                  match your mood.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> 🎶Groove: Explore a world
                  of music with personalized song recommendations. Whether
                  you're in the mood for a heart-pounding beat or a soothing
                  melody, Vibify has your back.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> 🎬 Predict: Curious about
                  how old you look in that latest selfie? Vibify will predict
                  your age with precision. Need a movie to watch tonight? Let
                  Vibify suggest the perfect film based on your preferences.
                </li>
              </ul>
              <hr />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->
      <section>
        <div
          class="container"
          style="display: flex; align-items: center; justify-content: center"
        >
          <div
            id="activitySection"
            class="col-lg-8"
            style="
              background-color: #fff;
              border-radius: 8px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              padding: 20px;
              text-align: center;
            "
          >
            <h1>
              How are you feeling today? Would you like to share any emotions or
              thoughts?
            </h1>
            <div
              id="activityOptions"
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 20px;
              "
            >
              <button
                class="activityOption"
                onclick="selectActivity('Happy')"
                style="
                  background-color: rgb(207, 247, 64);
                  color: #fff;
                  padding: 10px 20px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  font-size: 16px;
                  transition: background-color 0.3s;
                "
              >
                Happy
              </button>
              <button
                class="activityOption"
                onclick="selectActivity('Sad')"
                style="
                  background-color: #a0d7d3;
                  color: #fff;
                  padding: 10px 20px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  font-size: 16px;
                  transition: background-color 0.3s;
                "
              >
                Sad
              </button>
              <button
                class="activityOption"
                onclick="selectActivity('Angry')"
                style="
                  background-color: #f44515;
                  color: #fff;
                  padding: 10px 20px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  font-size: 16px;
                  transition: background-color 0.3s;
                "
              >
                Angry
              </button>
              <button
                class="activityOption"
                onclick="selectActivity('Satisfied')"
                style="
                  background-color: #954caf;
                  color: #fff;
                  padding: 10px 20px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  font-size: 16px;
                  transition: background-color 0.3s;
                "
              >
                Satisfied
              </button>
            </div>
          </div>
        </div>

        <script>
          function selectActivity(emotion) {
            // You can store the user's answer in a variable or send it to the server for further processing
            alert(`You selected: ${emotion}`);

            // If you want to send it to the server, you can use AJAX (e.g., fetch API) here
            // Example: sendToServer(emotion);
          }

          // Example function to send data to the server using fetch API
          function sendToServer(emotion) {
            fetch("your-server-endpoint", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ emotion: emotion }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log("Server Response:", data);
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          }
        </script>
      </section>
      <section
        class="photo-section prelative text-center white"
        id="upload-photo"
        data-scroll-index="2"
      >
        <h1>Upload Your Photo</h1>

        <form id="uploadForm" action="/" enctype="multipart/form-data" method="POST">
          <input
            type="file"
            id="photoInput"
            accept="image/*"
            name="photo-file"
            style="
              margin-right: 10px;
              padding: 10px;
              background-color: #209dd8;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            "
          />
          <input
            type="submit"
            style="
              margin-right: 10px;
              padding: 10px;
              background-color: #4caf50;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            "
          >
          </input>

          <button
            type="button"
            onclick="cancelSelection()"
            style="
              padding: 10px;
              background-color: #f44336;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            "
          >
            Cancel
          </button>
        </form>

        <script>
          function uploadPhoto() {
            const fileInput = document.getElementById("photoInput");
            const file = fileInput.files[0];

            if (file) {
              const formData = new FormData();
              formData.append("photo", file);

              // Now you can use 'formData' to send the file to your server using AJAX or other methods.
              // Example AJAX using fetch:
              fetch("your-upload-endpoint", {
                method: "POST",
                body: formData,
              })
                .then((response) => response.json())
                .then((data) => {
                  // Handle the response from the server
                  console.log("Server Response:", data);
                })
                .catch((error) => {
                  console.error("Error:", error);
                });
            } else {
              alert("Please select a photo to upload.");
            }
          }

          function cancelSelection() {
            const fileInput = document.getElementById("photoInput");
            fileInput.value = ""; // Clear the input value to cancel the selection
          }
        </script>
      </section>

        <!-- ============== Audio Section ===================  -->
        <section
        class="photo-section prelative text-center white"
        id="upload-photo"
        data-scroll-index="2"
      >
        <h1>Upload Your Audio</h1>

        <form id="uploadForm" enctype="multipart/form-data" action="/" method="POST">
          <input
            type="file"
            id="photoInput"
            name="audio-file"
            accept="audio/*"
            style=" 
              margin-right: 10px;
              padding: 10px;
              background-color: #209dd8;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            "
          />
          <input
            type="submit"
            style="
              margin-right: 10px;
              padding: 10px;
              background-color: #4caf50;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            "
          >
          </input>

          <button
            type="button"
            onclick="cancelSelection()"
            style="
              padding: 10px;
              background-color: #f44336;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            "
          >
            Cancel
          </button>
        </form>

        <!-- ============= Audio Section End ========-->

      <!-------Video Start------->
      <section
        class="video-section prelative text-center white"
        id="video-cam"
        data-scroll-index="2"
      >
        <div class="section-padding video-overlay">
          <div class="container">
            <!-- <h3>Watch Now</h3>
          <i class="fa fa-play" id="video-icon" aria-hidden="true"></i>
          <div class="video-popup">
            <div class="video-src">
              <div class="iframe-src">
                <video id="video" width="100%" height="100%" autoplay></video> -->
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <h5 class="card-header h5 text-center" style="color: black">
                      Live Cam
                    </h5>
                    <div class="card-body">
                      <div class="booth">
                        <video
                          id="video"
                          width="100%"
                          height="100%"
                          autoplay
                        ></video>
                      </div>

                      <div class="text-right">
                        <a href="#!" class="btn btn-danger" onClick="stop()">
                          Stop Cam
                        </a>
                        <a href="#!" class="btn btn-success" onClick="start()">
                          Start Cam
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <script>
              var stop = function () {
                var stream = video.srcObject;
                var tracks = stream.getTracks();
                for (var i = 0; i < tracks.length; i++) {
                  var track = tracks[i];
                  track.stop();
                }
                video.srcObject = null;
              };
              var start = function () {
                var video = document.getElementById("video"),
                  vendorUrl = window.URL || window.webkitURL;
                if (navigator.mediaDevices.getUserMedia) {
                  navigator.mediaDevices
                    .getUserMedia({ video: true })
                    .then(function (stream) {
                      video.srcObject = stream;
                    })
                    .catch(function (error) {
                      console.log("Something went wrong!");
                    });
                }
              };
              $(function () {
                start();
              });
            </script>
          </div>
        </div>
      </section>

      <!-------Video End------->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Services</h2>
            <p>
              Whether you seek the perfect soundtrack for your day or a literary escape that mirrors your emotional landscape, Vibify is your compass to a world of tailored content that speaks directly to your heart and soul. Elevate your digital experience with Vibify – where every mood finds its perfect match.
            </p>
          </div>

          <div class="row">
            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="./music.html">Songs</a></h4>
                <p>
                 Let the rhythm move you with Vibify's dynamic music collection, spanning genres from soulful melodies to energetic beats.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="./movie.html">Movies</a></h4>
                <p>
                   Experience the magic of the silver screen with our movie selection, offering a cinematic escape into worlds of drama, laughter, and inspiration.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="./youtube.html">Videos</a></h4>
                <p>
                  Embark on a visual journey with Vibify's video collection, a mosaic of creativity spanning from awe-inspiring landscapes to heartwarming narratives.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4><a href="./books.html">Books</a></h4>
                <p>
                  Immerse yourself in captivating stories through our carefully curated selection of books, where every page is a new adventure waiting to unfold.
                </p>
              </div>
            </div>
          </div>
        </div> 
      </section> 
      <!-- End Services Section> -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Team</h2>
            
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="member d-flex align-items-start">
                <div class="pic" >
                  <img src="static/public/arsh2.jpg"  class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                  <h4>Arsh Sharma</h4>
                  <span>21103057</span>
                  <p>
                    Explicabo voluptatem mollitia et repellat qui dolorum quasi
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 mt-4 mt-lg-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="static/public/chetan2.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Chetan Mittal</h4>
                  <span>21103059</span>
                  <p>
                    Aut maiores voluptates amet et quis praesentium qui senda
                    para
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="static/public/team-3.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Raghav Goel</h4>
                  <span>21103130</span>
                  <p>
                    Quisquam facilis cum velit laborum corrupti fuga rerum quia
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="static/public/vanshaj.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Vanshaj</h4>
                  <span>21103068</span>
                  <p>
                    Dolorum tempora officiis odit laborum officiis et et
                    accusamus
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->

      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Frequently Asked Questions</h2>
          </div>

          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  class="collapse"
                  data-bs-target="#faq-list-1"
                  >Imagine a group of friends in a joyous mood planning a movie night. How does each friend contribute to the debate on whether to watch a comedy, an action-packed film, or a classic romance?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-1"
                  class="collapse show"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    In this scenario, each friend unfolds a cinematic tale from their past that left them in stitches, thrilled, or romantically captivated. The movie choice becomes a delightful blend of shared laughter, heart-pounding action, and a sprinkle of romance.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-2"
                  class="collapsed"
                  >Picture a group of coworkers feeling a bit stressed and deciding to unwind with music. How do their diverse tastes create a playlist that turns the office space into a mini music festival?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-2"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                   As each coworker shares their go-to stress-buster song, the office transforms into a musical journey. From head-banging rock anthems to soothing acoustic tunes, the playlist becomes a harmonious blend, proving that stress relief comes in many melodies.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-3"
                  class="collapsed"
                  >Envision a family on a nostalgic trip down memory lane, trying to decide which classic board game to play. How do their individual recollections of game night mishaps and triumphs shape the final decision?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-3"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    As family members recall hilarious monopoly escapades, strategic battles in Risk, and the infamous "Uno" card controversies, the game night choice becomes a time-traveling adventure, complete with laughter, friendly rivalries, and perhaps a few rule debates.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-4"
                  class="collapsed"
                  >Join a book club gathering where members are in the mood for a lighthearted read. How do their childhood stories and literary escapades lead to a decision on the perfect feel-good novel? <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-4"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    As each bookworm shares their favorite childhood tale or a heartwarming literary journey, the book club's selection process becomes a storytelling session. The chosen book promises to evoke nostalgia, laughter, and perhaps a few tears of joy.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section> 

      <!-- End Frequently Asked Questions Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
            <p>
            </p>
          </div>

          <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Chandigarh,India</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>student@pec.edu.in</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 5589 55488 55</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.3449387054984!2d76.78419437503875!3d30.76489688407847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ff282845c404b%3A0xc0844bf7cbdcc6e9!2sPunjab%20Engineering%20College!5e0!3m2!1sen!2sin!4v1699705985045!5m2!1sen!2sin"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <footer class="footer-copy" style="background-color: #9fb7fa">
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-md-12"
            style="display: flex; justify-content: center; align-items: center"
          >
            <p>
              2023 &copy; Vibify
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>
    <script src="static/scripts/main.js"></script>
  </body>
</html>
